@using Feane.ViewModels.BookTable
@model BookTableUpdateVM
<div class="container">
    <div class="row">
        <form method="post" asp-action="Update" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Enter Name">
                <span asp-validation-for="Name" class=text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">PhoneNumber</label>
                <input asp-for="PhoneNumber" class="form-control" phoneNumber="Enter phoneNumber">
                <span asp-validation-for="PhoneNumber" class=text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Enter Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonNumber">PersonNumber</label>
                <input asp-for="PersonNumber" class="form-control" placeholder="Enter PersonNumber">
                <span asp-validation-for="PersonNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date">DateTime</label>
                <input asp-for="Date" class="form-control" placeholder="Enter Date">
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
