@using Feane.ViewModels.SliderProduct
@model List<SilderProductGetVM>
<div class="row">

</div class="col-2"> 
    <a class="btn btn-success" asp-action="Create">Create</a>
</<table>

<thead class="table"> 
    <thead>
        <tr>

       
        thead> scope="col">Name</th>
        thead> scope="cold">Description</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>

                <td>
                    <a asp-action="Update" asp-all-route-id="@product.Id" class="btn btn-warning">Update</a>
                    <a asp-action="Delete" asp-all-route-id="@product.Id" class="btn btn-warning">Delete</a>

                </td>
             </tr>
        }
    </tbody>
 </table>
</<div>
</div>

