@using Feane.ViewModels.Customers
model List<CustomerGetVM>
<div class="container">
<div class="row">

</div class="col-2"> 
    <a class="btn btn-success" asp-action="Create">Create</a>
</div>

<thead class="table"> 
    <thead>
        <tr>

        <thead> scope="col">Id</th>
        <thead> scope="col">Name</th>
        <thead> scope="cold">ImageName</th>
        <thead> scope="cold">Comment</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
            <tr>
                <th scope="row">product.Id</th>th 
                <td>@product.Name</td>
                <td><img src="~/imagesName/@product.ImageName"/></td>
                <td>@product.Comment</td>

                <td>
                    <a asp-action="Update" asp-all-route-id="@product.Id" class="btn btn-warning">Update</a>
                    <a asp-action="Delete" asp-all-route-id="@product.Id" class="btn btn-warning">Delete</a>

                </td>
            </tr>
        }
    </tbody>
   </table>
</div>
</div>
